In [25]:
import pandas as pd
from sklearn.kernel_ridge import KernelRidge
from sklearn.model_selection import train_test_split
import time

# import data
df = pd.read_csv('../../data/aggregated/processed_data/data-3-28-18-restricted-model.csv')
df = df.sample(frac=0.5)

# replace missing values with mean/mode
# Continuous
df['mileage'] = df['mileage'].fillna((df['mileage'].mean()))
df['year'] = df['year'].fillna((df['year'].mean()))
# Categorical
df['make'] = df['make'].fillna(df['make'].value_counts().index[0])
df['model'] = df['model'].fillna(df['model'].value_counts().index[0])
df['state'] = df['state'].fillna(df['state'].value_counts().index[0])
df['transmission'] = df['transmission'].fillna(df['transmission'].value_counts().index[0])

# choose features and train/test split
features = df[['make', 'model', 'mileage', 'state', 'transmission', 'year']]
labels = df[['price']]
features_encoded = pd.get_dummies(features, columns=['make', 'model', 'state', 'transmission'])
X_train, X_test, Y_train, Y_test = train_test_split(features_encoded, labels, test_size=0.2, train_size=0.8)

df.head(5)

,listing_id,vin,make,model,year,condition,mpg_city,mileage,transmission,cars_rating,state,price
496,728756720,1FTFX1EF2EKF17384,Ford,F-150,2014,Used,13.0,56560.0,Automatic,4.8,NY,23956
30440,730592134,1FMJK1JT9HEA58096,Ford,Expedition,2017,Used,16.0,45652.0,Automatic,5.0,MO,36480
22971,728344048,1HGCR2F34FA116869,Honda,Accord,2015,Used,22.0,24266.0,Automatic,4.7,IN,16197
11126,728467012,1FTEW1CPXFKE88681,Ford,F-150,2015,Used,18.0,29620.0,Automatic,4.6,CA,29200
19882,728960532,KNDPMCAC9H7127832,Kia,Sportage,2017,Used,21.0,41109.0,Automatic,4.9,CA,19995

## First Run

In [26]:
model = KernelRidge()
stime = time.time()
model.fit(X_train, Y_train)
print("Time to fit: %.3fs" % (time.time() - stime))

Time to fit: 74.833s

In [27]:
model.score(X_test, Y_test)

0.7227533472096991