In [25]:
import pandas as pd
from sklearn.linear_model import BayesianRidge
from sklearn.model_selection import train_test_split

df = pd.read_csv('../../data/aggregated/processed_data/data-3-28-18-restricted.csv')

# Continuous
df['mileage'] = df['mileage'].fillna((df['mileage'].mean()))
df['year'] = df['year'].fillna((df['year'].mean()))
# Categorical
df['make'] = df['make'].fillna(df['make'].value_counts().index[0])
df['model'] = df['model'].fillna(df['model'].value_counts().index[0])
df['state'] = df['state'].fillna(df['state'].value_counts().index[0])
df['transmission'] = df['transmission'].fillna(df['transmission'].value_counts().index[0])

features = df[['make', 'model', 'mileage', 'state', 'transmission', 'year']]
labels = df[['price']]
features_encoded = pd.get_dummies(features, columns=['make', 'model', 'state', 'transmission'])
X_train, X_test, Y_train, Y_test = train_test_split(features_encoded, labels, test_size=0.2, train_size=0.8)

df.head(5)

,listing_id,vin,make,model,year,mileage,transmission,exterior_color,state,price,source
0,728835398,1FM5K7B86DGB59447,Ford,Explorer,2013,115244.0,Automatic,Silver,CO,12788,Cars.com
1,728467649,JTEZT14R350022851,Toyota,4-Runner,2005,183578.0,Automatic,White,GA,7021,Cars.com
2,728759154,1GNKVGKDXHJ317848,Chevrolet,Traverse,2017,23077.0,Automatic,White,NM,25900,Cars.com
3,728922954,1N6AD0ER7EN718734,Nissan,Frontier,2014,25864.0,Automatic,Blue,CA,18995,Cars.com
4,729022991,2T3WFREV9FW164238,Toyota,RAV4,2015,28785.0,Automatic,White,CA,20995,Cars.com

## Model Training

In [26]:
model = BayesianRidge()
model.fit(X_train, Y_train)

/Users/chaserobertson/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, tol=0.001, verbose=False)

In [27]:
model.score(X_test, Y_test)

0.784460976725776