In [12]:
import pandas
import numpy as np
df=pandas.read_csv("combined.csv")
nominal = ['make', 'model','state', 'transmission','cars_rating','seller_type','title','transmission','trim']
continuous=['mileage', 'year','price','cylinders','doors','mpg_city']

In [13]:
f=open("combined_data.arff","w")
df=df.replace(np.nan,"?")
df=df.replace('Not Specified',"?")
df=df.replace('not specified',"?")
df=df.replace('nan',"?")
df=df.replace('',"?")
columns=df.columns
f.write("@RELATION cars\n")
for column in columns:
    if(column in continuous) :
        f.write("@ATTRIBUTE ")
        f.write("'"+str(column)+"'")
        unique=df[column].unique()
        unique=map(str, unique)
        unique=set(unique)
        f.write(" NUMERIC\n")
    elif(column in nominal):
        f.write("@ATTRIBUTE ")
        f.write("'"+str(column)+"'")
        unique=df[column].unique()
        unique=map(str, unique)
        unique=set(unique)
        f.write(" {")
        f.write(', '.join([("'"+str(x)+"'" if not x.isdigit() else x) for x in unique]))
        f.write("}\n")
    else:
        df=df.drop([column],axis=1)
f.write("@DATA\n")
print(df)
for index,row in df.iterrows():
    row=map(str, row)
    f.write(', '.join([("'"+str(x)+"'" if not ((str(x)).isdigit() or x=='?') else x) for x in row]))
    f.write('\n')
            
f.close()

      cars_rating cylinders doors        make mileage            model  \
0               ?         6     4         Ram   10099             2500
1               ?         6     4       Dodge      10          Journey
2               ?         4     2   Chevrolet       2           Camaro
3               ?         4     4  Volkswagen   13886           Passat
4               ?         8     ?    Cadillac  173020         Escalade
5               ?         8     2       Dodge  163962         Ram 1500
6               ?         6     4    Chrysler       9         Pacifica
7               ?         6     4       Lexus   54232           ES 350
8               ?         4     4       Honda       3             HR-V
9               ?         4     4       Honda       3             HR-V
10              ?         4     5      Subaru    7232          Impreza
11              ?         8     4        Ford       3            F-350
12              ?         4     5      Subaru   22323        Crosstrek
13              ?         4     4        Jeep   66390         Cherokee
14              ?         8     ?         GMC  168300         Yukon XL
15              ?         3     4        Ford       3            Focus
16              ?         8     2        Ford       3          Mustang
17              ?         4     4       Honda   95369           Accord
18              ?         8     2        Ford  224200            F-250
19              ?         8     4   Chevrolet  174620   Silverado 1500
20              ?         4     4       Honda       7              Fit
21              ?         6     4      Toyota   24300          4Runner
22              ?         4     4  Mitsubishi      10  Outlander Sport
23              ?         6     4        Ford   78000             Edge
24              ?         3     4        Ford       3            Focus
25              ?         8     2        Ford       3          Mustang
26              ?         4     4       Honda   95369           Accord
27              ?         8     2        Ford  224200            F-250
28              ?         8     4   Chevrolet  174620   Silverado 1500
29              ?         4     4       Honda       7              Fit
...           ...       ...   ...         ...     ...              ...
54665         4.8         ?     ?   Chevrolet   23919         Traverse
54666         4.4         ?     ?     Hyundai   19000          Elantra
54667         4.8         ?     ?        Ford   87040            F-150
54668         4.9         ?     ?        Ford   20362            F-150
54669         4.1         ?     ?       Acura  101502              RDX
54670         4.5         ?     ?       Honda   18075             CR-V
54671         4.5         ?     ?   Chevrolet  134946        Silverado
54672         4.4         ?     ?         GMC  155284           Sierra
54673         4.6         ?     ?        Audi   78566               A4
54674         4.9         ?     ?       Lexus   26000               ES
54675         4.8         ?     ?        Ford  114420            F-150
54676         4.8         ?     ?       Dodge   19556          Journey
54677         4.4         ?     ?        Jeep   16498         Wrangler
54678         4.8         ?     ?         BMW   21342         4 Series
54679         4.8         ?     ?   Chevrolet   34531            Tahoe
54680         4.8         ?     ?         Kia   43739             Soul
54681         4.4         ?     ?        Ford   58415           Fusion
54682         4.6         ?     ?      Toyota   43091            Camry
54683         4.4         ?     ?        Ford   73620           Escape
54684         4.6         ?     ?      Subaru  103450           Legacy
54685         4.7         ?     ?        Ford   99095            F-150
54686         4.3         ?     ?      Toyota   73812           Tacoma
54687         3.9         ?     ?        Jeep   83239         Wrangler
54688           4         ?     ?        Ford   97610            Focus
54689         4.9         ?     ?       Honda   15895             CR-V
54690         4.2         ?     ?       Honda   15013             CR-V
54691         4.3         ?     ?        Jeep   75605          Patriot
54692         4.5         ?     ?        Jeep   47536          Compass
54693         4.4         ?     ?        FIAT   22077              500
54694         4.6         ?     ?        Ford   22960          Mustang

      mpg_city  price        seller_type state                       title  \
0            ?  47985         Dealership    UT                           ?
1            ?  27133         Dealership    UT                           ?
2            ?  30960         Dealership    UT                           ?
3            ?  15990         Dealership    UT                           ?
4            ?   4450         Dealership    UT                 Clean Title
5            ?   1100  For Sale By Owner    UT                 Clean Title
6            ?  44757         Dealership    UT                           ?
7            ?   7999         Dealership    UT  RebuiltReconstructed Title
8            ?  22456         Dealership    UT                           ?
9            ?  24267         Dealership    UT                           ?
10           ?  12999         Dealership    UT  RebuiltReconstructed Title
11           ?  63252         Dealership    UT                           ?
12           ?  13999         Dealership    UT  RebuiltReconstructed Title
13           ?  15900         Dealership    UT                 Clean Title
14           ?  12950         Dealership    UT                 Clean Title
15           ?  16454         Dealership    UT                           ?
16           ?  45000         Dealership    UT                           ?
17           ?  11281         Dealership    UT                           ?
18           ?   4600  For Sale By Owner    NV                 Clean Title
19           ?  10995         Dealership    UT                 Clean Title
20           ?  18095         Dealership    UT                           ?
21           ?  32623         Dealership    UT                           ?
22           ?  25279         Dealership    UT                           ?
23           ?  13900         Dealership    UT                 Clean Title
24           ?  16454         Dealership    UT                           ?
25           ?  45000         Dealership    UT                           ?
26           ?  11281         Dealership    UT                           ?
27           ?   4600  For Sale By Owner    NV                 Clean Title
28           ?  10995         Dealership    UT                 Clean Title
29           ?  18095         Dealership    UT                           ?
...        ...    ...                ...   ...                         ...
54665       17  26690                  ?    CA                           ?
54666       28  12997                  ?    MD                           ?
54667       13  19976                  ?    SD                           ?
54668       18  32990                  ?    NV                           ?
54669       21  12999                  ?    WA                           ?
54670       27  22980                  ?    CO                           ?
54671        ?   7983                  ?    WI                           ?
54672        ?  14997                  ?    OK                           ?
54673       21   7999                  ?    CA                           ?
54674       26  26900                  ?    MA                           ?
54675       13  28988                  ?    SD                           ?
54676       20  18889                  ?    TX                           ?
54677       18  36597                  ?    CA                           ?
54678       23  32980                  ?    TX                           ?
54679       19  39100                  ?    NV                           ?
54680       26  11690                  ?    CO                           ?
54681       21   9500                  ?    CO                           ?
54682       25  13994                  ?    NY                           ?
54683       25  14490                  ?    CO                           ?
54684       23  15895                  ?    NC                           ?
54685       13  22750                  ?    ID                           ?
54686       17  23999                  ?    NV                           ?
54687       17  19900                  ?    VT                           ?
54688       31   7000                  ?    CO                           ?
54689       27  27499                  ?    MN                           ?
54690       28  21799                  ?    MN                           ?
54691       25   5995                  ?    CO                           ?
54692       22  14719                  ?    AL                           ?
54693       31  13700                  ?    MI                           ?
54694       19  16486                  ?    CO                           ?

      transmission                trim  year
0        Automatic           Tradesman  2017
1        Automatic                 SXT  2018
2        Automatic                  LT  2018
3                ?              1.8T S  2016
4        Automatic                   ?  2002
5        Automatic             Laramie  1994
6        Automatic    Hybrid Touring L  2018
7        Automatic                   ?  2007
8        Automatic                  LX  2018
9        Automatic                  EX  2018
10       Automatic  2.0i Sport Limited  2016
11       Automatic              Lariat  2018
12       Automatic             Premium  2016
13       Automatic            Altitude  2016
14       Automatic                 SLT  2007
15       Automatic                  SE  2018
16          Manual          GT Premium  2018
17       Automatic               Sport  2013
18          Manual                 XLT  1992
19       Automatic                 LT1  2006
20          Manual               Sport  2018
21       Automatic               Trail  2016
22       Automatic                 2.4  2017
23       Automatic                 SEL  2011
24       Automatic                  SE  2018
25          Manual          GT Premium  2018
26       Automatic               Sport  2013
27          Manual                 XLT  1992
28       Automatic                 LT1  2006
29          Manual               Sport  2018
...            ...                 ...   ...
54665            ?                   ?  2017
54666    Automatic                   ?  2015
54667    Automatic                   ?  2013
54668    Automatic                   ?  2017
54669    Automatic                   ?  2007
54670    Automatic                   ?  2016
54671    Automatic                   ?  2003
54672    Automatic                   ?  2006
54673    Automatic                   ?  2006
54674    Automatic                   ?  2015
54675    Automatic                   ?  2013
54676    Automatic                   ?  2017
54677       Manual                   ?  2015
54678    Automatic                   ?  2015
54679    Automatic                   ?  2015
54680       Manual                   ?  2016
54681       Manual                   ?  2012
54682    Automatic                   ?  2016
54683    Automatic                   ?  2014
54684    Automatic                   ?  2015
54685    Automatic                   ?  2012
54686            ?                   ?  2013
54687    Automatic                   ?  2010
54688            ?                   ?  2012
54689    Automatic                   ?  2017
54690    Automatic                   ?  2015
54691       Manual                   ?  2010
54692    Automatic                   ?  2016
54693       Manual                   ?  2013
54694            ?                   ?  2014

[54695 rows x 14 columns]