In [18]:
import pandas as pd
import matplotlib
import numpy as np
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.model_selection import train_test_split

## Data Preparation

Read the data and look at the first few rows:

In [21]:
df = pd.read_csv('../../data/cars/processed_data/data-3-24-18-no-color.csv')
df.head(5)

,cars_rating,condition,listing_id,vin,make,model,mileage,mpg_city,price,state,transmission,year
0,4.4,Used,728835398,1FM5K7B86DGB59447,Ford,Explorer,115244.0,18.0,12788,CO,Automatic,2013
1,4.7,Used,728467649,JTEZT14R350022851,Toyota,4-Runner,183578.0,17.0,7021,GA,Automatic,2005
2,4.8,Used,728759154,1GNKVGKDXHJ317848,Chevrolet,Traverse,23077.0,17.0,25900,NM,Automatic,2017
3,4.4,Used,728922954,1N6AD0ER7EN718734,Nissan,Frontier,25864.0,17.0,18995,CA,Automatic,2014
4,4.8,Used,728946737,5XYPGDA38GG104959,Kia,Sorento,26598.0,19.0,21969,IA,Automatic,2016

Replace missing values in those columns that are missing data:

In [35]:
# Continuous
df['mpg_city'] = df['mpg_city'].fillna((df['mpg_city'].mean()))
df['mileage'] = df['mileage'].fillna((df['mileage'].mean()))
df['cars_rating'] = df['cars_rating'].fillna((df['cars_rating'].mean()))
df['year'] = df['year'].fillna((df['year'].mean()))

# Categorical
df['make'] = df['make'].fillna(df['make'].value_counts().index[0])
df['model'] = df['model'].fillna(df['model'].value_counts().index[0])
df['state'] = df['state'].fillna(df['state'].value_counts().index[0])
df['transmission'] = df['transmission'].fillna(df['transmission'].value_counts().index[0])

## Model Training

In [36]:
features = df[['cars_rating', 'make', 'model', 'mileage', 'mpg_city', 'state', 'transmission', 'year']]
labels = df[['price']]
features_encoded = pd.get_dummies(features, columns=['make', 'model', 'state', 'transmission'])
X_train, X_test, Y_train, Y_test = train_test_split(features_encoded, labels, test_size=0.2, train_size=0.8)
features.describe()

        cars_rating        mileage      mpg_city          year
count  42286.000000   42286.000000  42286.000000  42286.000000
mean       4.585624   54827.948858     21.674800   2013.264934
std        0.248039   43713.209963      9.279901      3.821917
min        1.000000       1.000000      0.000000   1990.000000
25%        4.500000   23999.000000     18.000000   2012.000000
50%        4.600000   41168.500000     21.000000   2015.000000
75%        4.800000   76000.000000     25.000000   2016.000000
max        5.000000  302691.000000    125.000000   2018.000000

In [37]:
model = linear_model.LinearRegression()
model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [38]:
model.score(X_test, Y_test)

-1377777.5190754114